.footer {
    background-color: $footerBg;
    font-size: 1rem;
    padding-top: 200px;

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .container{
        display: grid;
        row-gap: 35px;
        column-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "address" "contact" "links1" "links2" "social";
                        
    @include breakpoint(medium) {
        column-gap: 25px;
    }
    @include breakpoint(large) {
        column-gap: 35px;
        grid-template-columns: 3fr 2fr 2fr 2fr auto;
        grid-template-rows: 60px 1fr;
        grid-template-areas: "logo logo logo logo logo"
                            "address contact links1 links2 social";
    }

    @include breakpoint(xlarge) {
        column-gap: 60px;
    }
    }

    &__logo {
        @include breakpoint(large){
            // grid-column: 1 / 7;
            grid-area: logo;
        }
        
    }
    &__address {
        grid-area: address;
        display: flex;

        img {
            flex: 0 0 10px;
            margin-right: 20px;
            margin-top: 3px;
            width: 15px;
            height: 25px;
        }

    }
    &__contact {
        grid-area: contact;

        @include breakpoint(large) {
            justify-self: right;
        }

        a {
            font-size: 0.875rem;
        }
        
        &-phone,
        &-email {
            display: flex;
        }

        &-phone {
            margin-bottom: 20px;
        }

        &-phone img {
            width: 20px;
            margin-right: 20px;
        }

        &-email img {
            width: 25px;
            margin-right: 20px;
        }
    

    }

    &__links1,
    &__links2 {
        
        a {
            display: block;
            margin-bottom: 20px;
        }
    }

    &__links1 {
        grid-area: links1;

        @include breakpoint(large) {
            justify-self: right;
        }
        
    }

    &__links2 {
        grid-area: links2;
    }

    &__social {
        grid-area: social;
        justify-self: center;

        @include breakpoint(medium) {
            justify-self: start;
        }

        i {
            font-size: 2em;
            padding: 10px;
            margin-right: 16px;
            transition: all 200ms ease-in-out;
            
            &:hover {
                color: rgba($ctaBlue, 0.9);
            }
        }
    }
}

